/collection/
/resources/inverted_index
/resources/lexicon
/collection/collection.tar.gz
/resources/documentIndex/
/resources/document_table/
/target/
/resources/document_table.*
/resources/lexicon.*
/resources/postings_doc_ids.*
/resources/postings_frequencies.*
/resources/collection_statistics.*