/collection/
/resources/inverted_index
/resources/lexicon
/resources/document_table/
/target/
/resources/document_table.dat
/resources/lexicon.dat
/resources/postings_doc_ids.dat
/resources/postings_frequencies.dat